################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/InventoryManagementApi/v15
*/netcoreapp2.1/*
